<nav class="navbar navbar-ligth bg-primary">
  <a class="navbar-brand navbar" href="/">
  <h1><i class="bi-patch-question" style="margin-right: 9px;"></i>Perguntas e Respostas<i class="bi-patch-question" style="margin-left: 9px;"></i></h1>
  </a>
</nav>